dsn: postgres://{{ db_info.get('username') }}:{{ db_info.get('password') }}@{{ db_info.get('endpoints') }}/{{ db_info.get('database_name') }}
log:
  level: trace
secrets:
  cookie:
  - my-cookie-secret
  system:
  - my-system-secret
serve:
  admin:
    cors:
      enabled: true
      allowed_origins:
        - "*"
  public:
    cors:
      enabled: true
      allowed_origins:
        - "*"
urls:
  consent: {{ consent_url }}
  error: {{ error_url }}
  login: {{ login_url }}
  self:
    issuer: {{ hydra_public_url }}
    public: {{ hydra_public_url }}
