name: ci
run-name: CI for ${{ github.sha }} on ${{ github.ref_name }}

on:
   workflow_dispatch:
   workflow_call:
   push:
     branches:
     - "main"
     - "release-**"
     - "track/**"
     paths-ignore:
     - "terraform/**"
   pull_request:
     branches:
     - "*"
     paths-ignore:
     - "terraform/**"

jobs:
  tests:
    name: CI
    uses: canonical/identity-team/.github/workflows/charm-pull-request.yaml@2a4ae518f9c792dcdf14d05f8d86e3d72e160d96 # v1.9.0
    with:
      container-name: "hydra"
      # TODO: Switch to true once hydra is re-added to charmcraftcache-hub
      use-charmcraftcache: false
      node-size: large
